:root {
  --primary_300: rgb(186, 104, 200);
  --primary_50: rgb(243, 229, 245);
  --primary_600: rgb(142, 36, 170);
  --error_50: rgb(255, 235, 238);
  --error_300: rgb(229, 115, 115);
  --error_600: rgb(229, 57, 53);
  --info_50: rgb(227, 242, 253);
  --info_300: rgb(100, 181, 246);
  --info_600: rgb(30, 136, 229);
  --neutral_50: rgb(250, 250, 250);
  --neutral_300: rgb(224, 224, 224);
  --neutral_600: rgb(117, 117, 117);
  --warning_50: rgb(255, 243, 224);
  --warning_300: rgb(255, 183, 77);
  --warning_600: rgb(251, 140, 0);
  --success_50: rgb(224, 247, 250);
  --success_300: rgb(77, 208, 225);
  --success_600: rgb(0, 172, 193);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --body-12: 12px;
  --body-14: 14px;
  --body-16: 16px;
  --body-18: 18px;
  --h2: 32px;
  --h1: 40px;
}
